<footer>
	<aside>
		<h3 class="dancing-script-titlu">Program de lucru</h3>
		<p>Vă așteptăm să ne vizitați la CakeShop în următoarele zile și ore de funcționare:</p>
		<ul>
			<li>
				<strong>Luni - Vineri:</strong> 9:00 - 20:00
			</li>
			<li>
				<strong>Sâmbătă:</strong> 10:00 - 18:00
			</li>
			<li>
				<strong>Duminică:</strong> Închis
			</li>
		</ul>
		<p>Nu ezitați să ne contactați pentru programări de evenimente private sau pentru a plasa comenzi speciale.</p>
	</aside>

	<address>
		Telefon: <a href="tel:+40770603079">
			0770 603 079 <i class="fa-solid fa-phone"></i>
		</a><br>
			Adresă: <a class="external-link" href="https://www.google.com/maps/place/Facultatea+de+Matematica+si+Informatica">
				Facultatea de Matematica si Informatica <i class="fa-solid fa-location-dot"></i>
			</a><br>
				E-mail: <a href="mailto:contact@cakeshop.ro">
					contact@cakeshop.ro <i class="fa-solid fa-at"></i>
				</a><br>
					<a class="external-link" href="skype:username?chat">
						Chat pe Skype <i class="fa-solid fa-comment"></i>
					</a>
				</address>

	
		<ul>
			<li>
				<a href="termeni_si_conditii.html">Termeni și Condiții</a>
			</li>
			<li>
				<a href="politica_de_confidentialitate.html">Politica de Confidențialitate</a>
			</li>
		</ul>
		<p>
			<i class="fa-solid fa-circle-info"></i>
		</p>
	

	<p>
		<a href="#acasa">Înapoi la începutul paginii</a>
	</p>
	<p>
		<a class="external-link" href="https://www.cakeshop.ro/" target="_blank">Vizitați site-ul nostru partener</a>
	</p>

	<small>
		© 2024 CakeShop. Toate drepturile rezervate. Creat pe <time datetime="2024-03-18">18 martie 2024</time>.
	</small>
</footer>
