<header id="top">
	<link rel="stylesheet" href="/resurse/css/styles.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
		

			<h1 class="dancing-script-titlu">
				CakeShop <i class="fa-solid fa-cake-candles"></i>
			</h1>


			<nav>
				<ul>
					<li>
						<a href="#acasa" class="desktop">
							<i class="fa-solid fa-house"></i> Acasa
						</a>
						<a href="#acasa" class="mobile">
							<i class="fa-solid fa-house"></i>
						</a>
						<ul>
							<li>
								<a href="#produse_oferte">Produse si oferte</a>
							</li>
							<li>
								<a href="#despre">Despre noi</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#galerie">Galerie Foto</a>
					</li>
					<li>
						<a href="#cos">Cosul meu</a>
					</li>
					<li>
						<a href="#recenzii">Recenzii</a>
					</li>
					<li>
						<a href="#evenimente">Evenimente private</a>
					</li>
				</ul>
			</nav>

			<!-- Meniu pentru ecrane mici -->
			<nav class="mobile-nav" id="mobile-nav">
				<ul>
					<li>
						<a href="#acasa">Acasa</a>
					</li>
					<li>
						<a href="#produse_oferte">Produse si oferte</a>
					</li>
					<li>
						<a href="#galerie">Galerie Foto</a>
					</li>
					<li>
						<a href="#cos">Cosul meu</a>
					</li>
					<li>
						<a href="#recenzii">Recenzii</a>
					</li>
					<li>
						<a href="#evenimente">Evenimente private</a>
					</li>
				</ul>
			</nav>
		</header>
