<head>
	<meta charset="UTF-8"></meta>
    <meta name="author" content="Roman Bianca-Gabriela"></meta>
    <meta name="keywords" content="CakeShop, Cofetarie, Comenzi cofetarie, Comenzi prajituri, Comenzi Torturi personalizate, Evenimente private cofetarie"></meta>
    <meta name="description" content="Cofetaria CakeShop ofera o gama larga de produse de calitate, de la prajituri la torturi aniversare, produse de patiserie si produse de post">
    </meta><meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
    <title>CakeShop</title>
    <link rel="stylesheet" href="styles.css"></link>
    <link rel="apple-touch-icon" sizes="180x180" href="resurse/favicon/apple-touch-icon.png"></link>
    <link rel="icon" type="image/png" sizes="32x32" href="resurse/favicon/favicon-32x32.png"></link>
    <link rel="icon" type="image/png" sizes="16x16" href="resurse/favicon/favicon-16x16.png"></link>
    <link rel="manifest" href="resurse/favicon/site.webmanifest"></link>
    <link rel="mask-icon" href="resurse/favicon/safari-pinned-tab.svg" color="#5bbad5"></link>
    <meta name="msapplication-TileColor" content="#da532c"></meta>
    <meta name="theme-color" content="#ffffff"></meta>

		<link rel="preconnect" href="https://fonts.googleapis.com"></link>
    <link rel="preconnect" href="https://fonts.gstatic.com" ></link>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display;=swap" rel="stylesheet"></link>


  <!-- <link rel="stylesheet" href="f.css"></link>-->
</head>